body {
    font-family: Arial, sans-serif,;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff1d4; /* Light background color for the page */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto;
    border: 1px solid #A60f1B; /* Border color */
    background-color: #E2BFD9; /* Light shade for containers */
    padding: 20px;
    max-width: 800px;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(166, 15, 27, 0.2); /* Shadow using primary color */
}

.content {
    text-align: center;
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

h1 {
    color: #A60f1B; /* Primary color for headings */
    font-size: 1.5em;
    margin-bottom: 15px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #E2BFD9; /* Light shade for cards */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 45%;
    border: 1px solid #A60f1B; 
    max-width: 100%;
    margin-bottom: 20px;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: auto;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card h2 {
    margin-top: 0;
    font-size: 1.375em;
    color: #A60f1B; /* Primary color for headings */
}

.card p {
    color: #2b2728; /* Darker shade for text */
    font-size: 1em;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(166, 15, 27, 0.2); /* Shadow using primary color */
}

.profile-card {
    width: 100%;
    max-width: 300px;
    border: 1px solid #A60f1B; /* Border color */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #E2BFD9; /* Light shade for profile cards */
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info .name {
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #030303; /* Primary color for names */
}

.profile-info .title {
    font-size: 0.875em;
    color: #0c0b0b; /* Darker shade for titles */
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container-teachers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-teachers {
    background-color: #E2BFD9; /* Light shade for teacher cards */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 45%;
    max-width: 300px;
    border: 1px solid #A60f1B; 
    margin-bottom: 20px;
    text-align: center;
}

.card-teachers:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 20px auto;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .profile-card {
        width: 45%;
        margin-bottom: 20px;
    }

    .card-teachers {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        gap: 10px;
    }

    .card, .profile-card {
        width: 80%;
        margin-bottom: 15px;
    }

    .profile-card {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .container, .card-container, .profile-card {
        padding: 10px;
    }

    h1 {
        font-size: 1.25em;
    }

    .card-content, .profile-info {
        padding: 15px;
    }

    .card h2 {
        font-size: 1.125em;
    }

    .card p {
        font-size: 0.875em;
    }

    .profile-info .name {
        font-size: 1.125em;
    }

    .profile-info .title {
        font-size: 0.75em;
    }
}
